.search-bar {
	height: 125px;
	background: $tertiary;
	display: flex;
	align-items:center;
	.container {
		width: 100%;
	}
	form {
		position: relative;
	}
	form,
	.input {
		width: 100%;		
	}
	input {
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: $secondary;
		&::-moz-placeholder {
		  opacity: 1;
		}
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $secondary;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: $secondary;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: $secondary;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: $secondary;
		}
	}
	label {
		position: absolute;
		color: $tertiary;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
		font-size: 30px;
	}
	@media screen and (min-width:768px) {
		height: 225px;

		input {
			font-size: 22px;
		}
		.container {
			width: 1170px;
		}
	}
}